workflow.json
{
  "name": "Audio Brain",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7e5bb055-4507-4413-abc5-6da686d9cec6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "458143be-d42d-4ec8-8335-5e2ba042b9a3",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f4fa88f-3d8c-4317-bbc5-242a233b0e9d",
                    "leftValue": "={{ $json.message.audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "any message - audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cf2181d2-89a7-470a-ba3e-2da2ce86be9b",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "any message - voice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        224,
        144
      ],
      "id": "fa62632f-837a-4a20-991d-40ed01027d72",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Welcome to Audio Brain! 🎙️\n\nI'm ready to work. Simply send me a voice note or upload an audio file (MP3, WAV, M4A), and I will analyze it for you in seconds.\n\nI support both English and Hebrew—let's get started! 🚀",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        -96
      ],
      "id": "73a03b1e-1083-4fd0-b21c-8f375df149d7",
      "name": "Reply Start",
      "webhookId": "b7c461dd-3aa3-4b6a-9c21-75b9bd139e33",
      "credentials": {
        "telegramApi": {
          "id": "4iygwNwfi8IqNR8E",
          "name": "Audio Brain"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Audio Brain Bot Gets a Message').item.json.message.from.id }}",
        "text": "=<b>How to use Audio Brain:</b>\n\n1. <b>Record or Forward:</b> Send any voice note or upload an audio file (MP3, M4A, WAV).\n2. <b>Get Insights:</b> In seconds, I will provide a summary, action items, and a full transcript.\n3. <b>Dual Language:</b> I fully support both <b>English and Hebrew</b>.\n\n---\n<b>Created by:</b> <a href=\"https://www.linkedin.com/in/inbal-sertshuk-46858519\">Inbal Sertshuk</a>\n<i>Feel free to connect for automation insights!</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        96
      ],
      "id": "31ec768f-5ab6-436e-b8d0-0517de8b8bc8",
      "name": "Reply Help",
      "webhookId": "5ca363dd-9b85-4ba5-98ba-d2e40ac31ffe",
      "credentials": {
        "telegramApi": {
          "id": "4iygwNwfi8IqNR8E",
          "name": "Audio Brain"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message?.audio?.file_id || $json.message?.voice?.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        144
      ],
      "id": "805b9770-dba3-4629-8d57-d61cce48bfd2",
      "name": "Reply File",
      "webhookId": "e4ac74ce-ffdd-43dc-ba00-3a96f853e88b",
      "credentials": {
        "telegramApi": {
          "id": "4iygwNwfi8IqNR8E",
          "name": "Audio Brain"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8056096596:AAHPC6J2HNnXNzvmxvEHX-ChANBvaNG3Ziw/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        144
      ],
      "id": "6897e6fa-b72a-4a93-8853-37c007326f3e",
      "name": "Get File From Telegram"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.binary && item.binary.data) {\n    // הבטחת Mime Type ש-OpenAI אוהב\n    item.binary.data.mimeType = 'audio/mpeg';\n    \n    // הבטחת שם קובץ תקין עם סיומת שהם מכירים\n    // לפעמים טלגרם שולחת שמות ללא סיומת או סיומת לא מזוהה\n    item.binary.data.fileName = 'recording.mp3'; \n    item.binary.data.fileExtension = 'mp3';\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        144
      ],
      "id": "ce54a51a-608c-4766-9bfa-ba58f58389eb",
      "name": "Update Binay Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        192
      ],
      "id": "945998b4-d602-426b-a504-2966827690a5",
      "name": "Get Transcription from Groq",
      "credentials": {
        "groqApi": {
          "id": "Kr9Xqyxi1JfFq5Pq",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=You are \"Audio Brain,\" an elite AI assistant designed to transform raw voice note transcriptions into organized, actionable intelligence.\n\nYour goal is to analyze the provided text and structure your response as follows:\n\n1. 🎯 **Executive Summary**: A concise 2-3 sentence overview of the recording.\n2. ✅ **Action Items**: A clear, bulleted list of tasks, deadlines, or next steps mentioned.\n3. 💡 **Key Insights**: Important names, dates, or specific details that shouldn't be missed.\n\n**Guidelines:**\n- Maintain a professional yet accessible tone.\n- Use emojis to enhance readability.\n- Match the language of the transcription (if the transcript is in Hebrew, provide the analysis in Hebrew; if English, stay in English).\n- Always end your response with the exact signature below.\n\n---\n🛠️ **Created by:** [Inbal Sertshuk](https://www.linkedin.com/in/inbal-sertshuk-46858519)",
              "role": "assistant"
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1568,
        192
      ],
      "id": "f0388dba-c6a6-4e31-a22f-187b8e5cbede",
      "name": "Get Analisys from Claude",
      "credentials": {
        "anthropicApi": {
          "id": "cCqqbtLjkO1AHwAL",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Audio Brain Bot Gets a Message').item.json.message.chat.id }}",
        "text": "={{ $json.content[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        192
      ],
      "id": "1fadbbf9-593e-45ec-a804-8936b3fb4639",
      "name": "Audio Brain Reply",
      "webhookId": "33d17661-171f-4f76-81e7-45710522f2fb",
      "credentials": {
        "telegramApi": {
          "id": "4iygwNwfi8IqNR8E",
          "name": "Audio Brain"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ],
      "id": "16c22ed1-62cd-4e13-855a-acd25c3cabda",
      "name": "Audio Brain Bot Gets a Message",
      "webhookId": "e6761745-ea48-4918-a2a2-2c0dba69746f",
      "credentials": {
        "telegramApi": {
          "id": "4iygwNwfi8IqNR8E",
          "name": "Audio Brain"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Audio Brain Bot Gets a Message').item.json.message.chat.id }}",
        "text": "=I'm all ears! 🎧 Currently, I can only process voice notes and audio files. Please send an audio message and I'll get to work!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        480
      ],
      "id": "6e5a1b2d-1a67-4bc5-aff0-8d37e6b7dad9",
      "name": "Send a text message1",
      "webhookId": "6f38a002-f84e-4d36-99b4-4db08bed0762",
      "credentials": {
        "telegramApi": {
          "id": "4iygwNwfi8IqNR8E",
          "name": "Audio Brain"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2a0aeea4-5a47-4136-af79-622ec181e264",
              "leftValue": "={{ $json.message.audio.file_size }}",
              "rightValue": 20971520,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "8a5e32cd-a4f0-49b9-b910-10023a4f0d15",
              "leftValue": "={{ $json.message.voice.file_size }}",
              "rightValue": 20971520,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        288
      ],
      "id": "6fc5e184-9545-4ccd-9fa2-5ffc6e93aa15",
      "name": "Check File Size > 20MB"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://audiobrain-bridge.onrender.com/process",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileId",
              "value": "={{ $json.message?.voice?.file_id || $json.message?.audio?.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        384
      ],
      "id": "f3695195-e727-43cc-9659-9447020adee2",
      "name": "Get Large File from Telegram Using Cloudinary + Bridge",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.secure_url.replace('/upload/', '/upload/br_32k/') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        384
      ],
      "id": "f88fda8c-7a5a-40f1-9e93-e974e6138b18",
      "name": "Download Large File From Cloudinary",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://api.cloudinary.com/v1_1/dkhtduj3v/video/destroy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "public_id",
              "value": "={{ $json.secure_url.split('/').pop().split('.')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        432
      ],
      "id": "627ee1cd-1b69-498a-8a2f-10f1e8994565",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "HLm1OUzEifYvRTyJ",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Audio Brain Bot Gets a Message').item.json.message.chat.id }}",
        "text": "=Large file detected! 📂 This might take a minute or two... please hang tight! 🚀",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        384
      ],
      "id": "0ee8f6a7-fd52-4982-8664-f6e1c41be39c",
      "name": "Send a text message",
      "webhookId": "8b4db39c-8ff1-4852-a4a6-94679b854aca",
      "credentials": {
        "telegramApi": {
          "id": "4iygwNwfi8IqNR8E",
          "name": "Audio Brain"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Reply Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check File Size > 20MB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check File Size > 20MB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply File": {
      "main": [
        [
          {
            "node": "Get File From Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File From Telegram": {
      "main": [
        [
          {
            "node": "Update Binay Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Binay Data": {
      "main": [
        [
          {
            "node": "Get Transcription from Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcription from Groq": {
      "main": [
        [
          {
            "node": "Get Analisys from Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analisys from Claude": {
      "main": [
        [
          {
            "node": "Audio Brain Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Brain Bot Gets a Message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Check File Size > 20MB": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Large File from Telegram Using Cloudinary + Bridge": {
      "main": [
        [
          {
            "node": "Download Large File From Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Large File From Cloudinary": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Transcription from Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Get Large File from Telegram Using Cloudinary + Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "7d11b9e6-965f-41ac-83af-7ad36ffe2a90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02b2c9f7af125809c04048003cda25eff918401f732ad2a9228d5ff437ce8c82"
  },
  "id": "amPwDVHPPDlsNqlF0uaTl",
  "tags": []
}